<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Clase_26.Properties.Settings.conexion" connectionString="Data Source=LAB4PC06\SQLEXPRESS;Initial Catalog=personas_bd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>